<html>
  <head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script type="text/javascript" src="views/query.js"></script>
    <script type="text/javascript">
      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      // google.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.

      $(document).ready(function() {
      // load all runs for both left/right drop down selector
      HttpGet("/getAllRuns", function (response) {
      fillAllRuns(response, "left_run_sel");
      fillAllRuns(response, "right_run_sel");
      });

      HttpGet("/getAllTests", fillTestnameDropDown);

      $('#getAllRuns').click(function(){
      HttpGet("/getAllRuns", function(){});
      });

      $('#getAllTests').click(function(){
      HttpGet("/getAllTests", fillTestnameDropDown);
      });

      $('#compareRuns').click(function(){
      showNewComparison();
      });

      });

    </script>



  </head>

  <body>
    <!--Div that will hold the pie chart-->
    Historical Runtime for each unit test<br><br>

    <button type="button" id="getAllTests">get all tests</button>

    <br>
    <select id="testnames" onchange="handleTestChange()"></select>
    <div id="chart_div"></div>

    <br><br><br><br>Changes between two runs<br><br>
    <select id="left_run_sel" onchange="handleLeftRunChange()"></select>
    <select id="right_run_sel" onchange="handleRightRunChange()"></select>
    <button type="button" id="compareRuns">compare runs</button>

    <br><br><br>

    <div id="comp_result"></div>
    <br><br>
    <table style="width:100%">
      <tr>
        <td>Detail profiling result comparison for each test (LEFT VS RIGHT)</td>
      </tr>
      <tr>
        <td valign="top"> <div id="comp_left"> </div> </td>
        <td valign="top"> <div id="comp_right"> </div> </td>		
      </tr>
    </table>

  </body>  
</html>
